<div class="parallax-container">
  <div id="nav-container">
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Home</a></li>    
      <li class="divider"></li>
      <li><a href="/about">About</a></li>
      <li class="divider"></li>
      <li><a href="/treats">All</a></li>
      <li class="divider"></li>
      <li><a href="/cookies">Cookies</a></li>
      <li><a href="/cakes">Cakes</a></li>
      <li><a href="muffins">Muffins</a></li>
    </ul>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/treats">All</a></li>
      <li class="divider"></li>
      <li><a href="/cookies">Cookies</a></li>
      <li><a href="/cakes">Cakes</a></li>
      <li><a href="muffins">Muffins</a></li>
    </ul>
    <nav id="nav">
      <div class="nav-wrapper">
<!--         <a href="/" class="brand-logo display-3">Coffee, Wake n' Cake</a> -->
        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons left">arrow_drop_down</i></a></li>
        </ul>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  
  </div>
  <h1 class="display-1 white-text title" id="heading-1">Coffee, Wake n' Cake</h1>
  <div class="parallax"><img src="baked.jpg"></div>
</div>