body.vsc-initialized, html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

div#nav-container {
  background-color: transparent;
  // height: 20%;
}

nav#nav {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  // height: 100%;
}

div.nav-wrapper {
  background-color: transparent;
  // height: 20vh;
}

.title {
  margin: 0 0.9%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 
               0px 8px 9px black, 
               0px 9px 22px rgba(255, 255, 255, 0.7)
}

.carousel .carousel-item {
  height: 100%;
  width: auto;
}

.carousel .carousel-item .carousel-pic {
  height: 80%;
  width: auto;
}

div#nav-container2 {
  height: 25%;
}

div#nav-wrapper2 {
  height: 25%;
}

nav#nav2 {
  height: 100%;
}


